<div class="cowboy-dialog-content">
  <h2>{{ category }}</h2>
  <section class="cowboy-dialog-rangs">
    <h3>Difficulty</h3>
    <select class="cowboy-dialog-rang">
      {{#each rangs as |rang index|}}
      {{#if (eq index ../mouvementIndex)}}
      <option value="{{ index }}" selected>
        {{ rang.name }} ({{ rang.difficulty }})
      </option>
      {{else}}
      <option value="{{ index }}">
        {{ rang.name }} ({{ rang.difficulty }})
      </option>
      {{/if}}
      {{/each}}
    </select>
  </section>
  <section class="cowboy-dialog-modifiers">
    <h3>Modifiers</h3>
    <div class="cowboy-dialog-modifier">
      <label for="cowboy-dialog-modifier-advantage">Advantage</label>
      <select class="cowboy-dialog-modifier-advantage">
        <option value="0" selected>None</option>
        <option value="1">Advantage</option>
        <option value="-1">Disadvantage</option>
      </select>
    </div>
    <div class="cowboy-dialog-modifier">
      <label for="cowboy-dialog-modifier-bonus">Bonus Genre</label>
      <input type="checkbox" id="cowboy-dialog-modifier-bonus" disabled
      {{#if (eq category genre)}}
      checked
      {{/if}}
      />
    </div>
  </section>
  <section class="cowboy-dialog-traits">
    {{#each dicePool as |dice|}}
    <div class="cowboy-dialog-dice-pool">
      <input type="checkbox" id="dice-{{ dice }}" data-dice="{{ dice }}" />
      <label for="dice-{{ dice }}">{{ dice }}</label>
    </div>
    {{/each}}
  </section>
</div>
<div class="dialog-buttons">
  {{#each buttons as |button id|}}

  <button
    class="dialog-button {{ cssClass }}"
    data-button="{{ id }}"
    {{disabled
    button.disabled}}
  >
    {{{button.icon}}} {{{button.label}}}
  </button>
  {{/each}}
</div>
