<div
  class="cowboy-cadran-counter {{#if cadran.isImportant}}cowboy-cadran-important{{/if}}"
>
  <div class="cowboy-cadran-header">
    {{ genreToIcon cadran.genre }}
    <input
      type="text"
      value="{{ cadran.name }}"
      class="cowboy-cadran-name"
      data-index="{{ cadranid }}"
    />
    {{#if isGM}}
    <input type="checkbox" class="cowboy-cadran-visible" data-index="{{
      cadranid
    }}" {{#if cadran.isVisibleByPlayers}}checked{{/if}}
    />
    {{else}}
    {{ genreToIcon cadran.genre }}
    {{/if}}
  </div>

  <div
    class="cowboy-cadran"
    style="
  background-image: conic-gradient(
            {{ coloron cadran }} {{ circlePortion cadran.value cadran.size 360 }}deg,
            {{ coloroff cadran }} 0);
  "
  >
    {{#range 1 cadran.size this}}
    <div
      class="cowboy-cadran-slot"
      style="transform: rotate({{ circlePortion index cadran.size 360 }}deg);"
    ></div>
    {{/range}}
  </div>
  {{#if isGM}}
  <div class="cowboy-cadran-admin">
    <button
      type="button"
      class="cowboy-cadran-action"
      data-action="increase"
      data-index="{{ cadranid }}"
    >
      <icon class="fa-solid fa-plus"></icon>
    </button>
    <button
      type="button"
      class="cowboy-cadran-action"
      data-action="close"
      data-index="{{ cadranid }}"
    >
      <icon class="fa-solid fa-minus"></icon>
    </button>
    <button
      type="button"
      class="cowboy-cadran-action"
      data-action="remove"
      data-index="{{ cadranid }}"
    >
      <icon class="fa-solid fa-trash"></icon>
    </button>
  </div>
  {{/if}}
</div>
