<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <h1><input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{localize 'Name'}}"
      /></h1>TEST
  </header>
  <section class="cowboy-item-section">
    <div>
      <input
        name="weapon-trait"
        type="text"
        value="{{system.weapon-trait}}"
        placeholder="{{localize 'COWBOY.weapon-trait'}}"
      />
      <input
        name="equipment-trait"
        type="text"
        value="{{system.equipment-trait}}"
        placeholder="{{localize 'COWBOY.equipment-trait'}}"
      />
      <input
        name="health"
        type="text"
        value="{{system.health}}"
        placeholder="{{localize 'COWBOY.health'}}"
      />
    </div>
  </section>
</form>