<form class="actor-sheet {{ cssClass }}" autocomplete="off">
  <header
    class="sheet-header 
  {{#if actor.system.isCurrentTarget}}
  cowboy-prime-selected
  {{/if}}"
  >
    <img
      src="{{ actor.img }}"
      data-edit="img"
      title="{{ actor.name }}"
      height="64"
      width="64"
    />
    <div>
      <label>{{localize 'COWBOY.actor.name'}}</label>
      <input name="name" type="text" value="{{ actor.name }}" />
      <label>{{localize 'COWBOY.actor.concept'}}</label>
      <input
        name="system.concept"
        type="text"
        value="{{ actor.system.concept }}"
      />
    </div>
    <select class="cowboy-prime-genre">
      {{#each genres as |genre|}}
      <option value="{{ genre }}" {{#if (eq genre ../actor.system.genre)}}selected{{/if}}>
        {{ genre }}
      </option>
      {{/each}}
    </select>
    <div class="cowboy-prime-current-target">
      {{#if actor.system.isCurrentTarget}}
      {{localize 'COWBOY.actor.currentTarget'}}
      {{else}}
      {{#if isGM}}
      <button class="cowboy-prime-current-target-button">
        {{localize 'COWBOY.actor.currentTarget'}}
      </button>
      {{/if}}
      {{/if}}
    </div>
  </header>

  <section class="cowboy-prime-cadrans">
    <div class="cowboy-prime-cadrans-grid">
      {{#each actor.system.cadrans as |cadran cadranId|}}
      {{> "systems/cowboy-bebop/templates/partials/cadran-counter.hbs" cadranid=cadranId cadran=cadran isGM=../isGM}}
      {{/each}}
    </div>
    {{#if isGM}}
    <div class="cowboy-prime-cadrans-admin">
      <div class="cowboy-prime-cadrans-buttons">
        <select class="cowboy-cadrans-select-goal">
          <option value="true">
            {{localize 'COWBOY.actor.goal'}}
          </option>
          <option value="false">
            {{localize 'COWBOY.actor.threat'}}
          </option>
        </select>
        <select class="cowboy-cadrans-select-important">
          <option value="false">
            {{localize 'COWBOY.actor.normal'}}
          </option>
          <option value="true">
            {{localize 'COWBOY.actor.important'}}
          </option>
        </select>
        <select class="cowboy-cadrans-select-genre">
          {{#each genres as |genre|}}
          <option value="{{ genre }}">
            {{ genre }}
          </option>
          {{/each}}
        </select>
        <button type="button" class="cowboy-cadrans-add" data-size="4">
          +4
        </button>
        <button type="button" class="cowboy-cadrans-add" data-size="6">
          +6
        </button>
        <button type="button" class="cowboy-cadrans-add" data-size="8">
          +8
        </button>
      </div>
    </div>
    {{/if}}
  </section>
  <section class="cowboy-prime-tokens">
    {{> "systems/cowboy-bebop/templates/partials/token-counter.hbs" tokens=actor.system.notes on=false type="notes" }}
    {{> "systems/cowboy-bebop/templates/partials/token-counter.hbs" tokens=actor.system.cartons on=true type="cartons" }}
  </section>
</form>
