<form class="actor-sheet {{ cssClass }}" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{ actor.img }}"
      data-edit="img"
      title="{{ actor.name }}"
      height="64"
      width="64"
    />
    <div>
      <label>{{localize 'COWBOY.actor.name'}}</label>
      <input name="name" type="text" value="{{ actor.name }}" />
      <label>{{localize 'COWBOY.actor.concept'}}</label>
      <input
        name="system.concept"
        type="text"
        value="{{ actor.system.concept }}"
      />
    </div>
    <div class="cowboy-health">
      {{> "systems/cowboy-bebop/templates/partials/health-counter.hbs"}}
    </div>
    <div>
      <label>{{localize 'COWBOY.actor.memory'}}</label>
      <input
        name="system.memory"
        type="text"
        value="{{ actor.system.memory }}"
      />
    </div>
  </header>

  {{> "systems/cowboy-bebop/templates/partials/rythm-counter.hbs" }}

  <section class="cowboy-actor-traits">
    {{#each actor.system.traits as |traitCategory traitCategoryId|}}
    <div class="cowboy-actor-trait-cat-header">
      <h3>{{ traitCategoryId }}</h3>
      <button
        type="button"
        class="cowboy-actor-roll unbutton"
        data-category="{{ traitCategoryId }}"
      >
        <i class="fa-solid fa-dice" aria-hidden="true"></i>
      </button>
    </div>
    <div class="cowboy-actor-trait-cat">
      {{#each traitCategory as |trait traitId|}}
      <div
        class="cowboy-actor-trait {{#if trait.damaged}}cowboy-actor-trait-isdamaged{{/if}}"
      >
        <input
          class="cowboy-actor-trait-name"
          data-index="{{ traitId }}"
          data-category="{{ traitCategoryId }}"
          name="traits-{{ traitCategoryId }}-{{ traitId }}-name"
          type="text"
          value="{{ trait.name }}"
        />
        <input class="cowboy-actor-trait-damaged" data-index="{{ traitId }}"
        data-category="{{ traitCategoryId }}" name="traits-{{
          traitCategoryId
        }}-{{ traitId }}-damaged" type="checkbox"
        {{#if trait.damaged}}checked{{/if}}
        {{#unless trait.name}}disabled{{/unless}}
        />
      </div>
      {{/each}}
    </div>
    {{/each}}
  </section>
</form>
